[submodule "/home/sheeptech/projects/luminescence/.vendor/aidlc-workflows"]
	path = /home/sheeptech/projects/luminescence/.vendor/aidlc-workflows
	url = https://github.com/awslabs/aidlc-workflows.git
